#mainContent {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#startButton {
    z-index: 4;
    position: absolute;
    font-size: 30px;
    font-weight: bolder;
    color: white;
    inset: none;
    border: none;
    padding: 20px 50px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-image: linear-gradient(100deg,#007BFF,#6600FF);
    box-shadow: rgba(0, 0, 0, 0.6) 3px 3px 7px;
}

#startButton:hover {
    scale: 1.05;
    box-shadow: rgba(0, 0, 0, 0.6) 8px 8px 7px;
}


#startButton:active {
    translate: 5px 5px;
    box-shadow: none;
    background-image: linear-gradient(100deg,#4ea3ff,#9045ff);
    color: #222;
}

#quizzAdvancement {
    position: absolute;
    top: 80px;
    right: 30px;
    font-weight: bolder;
    font-size: clamp(30px,3vh,25px);
}

img {
    width: 500px;
    height: 300px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#Question {
    width: fit-content;
    padding: 10px 5%;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    background-image: url("/quizzGames/CapitalDuMonde/ressources/titleBackground.png");
    background-position: contain;
    font-weight: bolder;
    font-size:clamp(40px,7vh,30px);
    margin-bottom: 40px;
}


ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}

#btnArea{
    margin-top: 30px;
    width: 850px;
    height: fit-content;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.possibility {
    min-width: 280px;
    box-shadow: 5px 5px 5px #999;
    border: none;
    inset: none;
    background-color: rgb(228, 228, 228);
    font-size:35px;
    padding: 15px;
    font-weight: bold;
    border: 1px #777 solid;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 25px;
}


.possibility:active {
    box-shadow: none;
    translate: 5px 5px;
}

#scoreCard {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 23px;
    position: absolute;
    height: fit-content;
    padding: 30px;
    width: fit-content;
    background-color: rgb(255, 255, 255);
    border:#007BFF 5px solid;
    border-radius: 20px;
    margin-bottom: 300px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#scoreCard > p  {
    margin-top: 20px;
    background-image:linear-gradient(100deg,#cfe6ff,#d4b8ff) ;
    padding: 7px;
    border-radius: 10px;
    font-size: 28px;
    font-weight: bolder;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#scoreCard > p::after {
        content: 'pt';
}