@media (max-width: 1100px) {
    .possibility {
        min-width: 25vw;
        width: 130px ;
        margin: 10px;
        font-size: 20px;
    }
    #btnArea {
        width: 90vw;
    }
    img {
        width:310px;
        height: 200px;
        border-radius: 20px;
    }
    #Question {
        font-size: 25px;
    }
}